 {%extends 'base.html'%} {% block content %} {{ block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for image in images %}

    <div class="row">
        <img src="{{image.image.url}}" class="img-responsive" alt="">
    </div>

    <div class="row">
        <h1 class="text-center">{{image.title}}</h1>
    </div>

    <div class="row">
        <p>{{image.description}}</p>
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There are no images</h2>
    </div>
    {% endfor %}

</div>
{% endblock%}