 {%extends 'base.html'%} {% block content %} {{ block.super}}

<div class="container">
    <!-- Looping through news   -->

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for image in images %}
            <a class="dropdown-item" href="{% url 'category' %}">{{image.category}}</a> {% endfor %}

        </div>
    </div>
    {% for image in images %}

    <div class="row">
        <img src="{{image.image.url}}" class="img-responsive" alt="Image">

    </div>

    <div class="row">
        <h1 class="text-center">{{image.title}}</h1>
    </div>

    <div class="row">
        <p>{{image.description}}</p>
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There are no images</h2>
    </div>
    {% endfor %}



</div>
{% endblock%}